body {
  padding: 0;
  margin: 0;
}

.indexWrapper {
   height: 100%;
   width: 100%;
   background-color: red;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}

.nav {
  height: 200px;
  width: 200px;;
  background-color: blue;
}

.collage {
  height: 200px;
  width: 100%;
  background-color: pink;
}

.indexFooter {
  height: 200px;
  width: 100%;
  background-color: green;

}
