body {
  padding: 0;
  margin: 0;
}

.card {
  display: absolute;
  height: 600px;
  width: 600px;
  border-radius: 10px;
  box-shadow: 3px 5px 100px 3px #2b2929;
  margin-top: 2em;
  font-family: 'UnifrakturMaguntia';

}

.indexWrapper {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.nav {
  height: 30px;
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
}

.nav a {
  color: black;
  font-size: 1.5em;
  transition: font-size 1s ease;
}

.nav a:hover {
  color: red;
  font-size: 2em;
}

.collageWrapper {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.collage {
  display: grid;
  grid-template-columns: 100px 1fr;
}

.blogTitle {
  margin-top: 15em;
}

.blogTitle h2 {
  transform: rotate(-90deg);
  font-family: 'UnifrakturMaguntia';
  transition: font-size 1s ease;
  font-size: 2em;
}


.blogTitle h2:hover {
  color: red; 
  font-size: 2.5em;
}


.olivia {
  height: 500px;
  box-shadow: 2px 2px 60px 3px #2b2929;
  border-radius: 10px;
  margin-top: 20px;
}

.olivia img {
  height: 500px;
  border-radius: 10px;
  transition: height 1s ease;
}

.olivia img:hover {
  height: 520px;
}

.profilePic {
  height: 100px;
  border-radius: 50%;
}

.blogHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.indexFooter {
  height: 30px;
}

footer {
  display: flex;
  justify-content: space-between;
}

.social {
  display: grid;
  grid-template-columns: 100px 80px 100px;
}

